@{
    Layout = "~/Views/Shared/_Dialog.cshtml";
    ViewBag.Title = "修改密码";
}
@section HeaderContent{
    @Scripts.Render("~/Views/Home/ChangePassword.cshtml.js?v=" + StringUtil.Version)
}
@model int
<form action="/Home/SavePassword" method="post" id="mainForm">
    <input type="hidden" id="Id" value="@Model" />
    <table class="table top-noborder">
        <tr>
            <td class="text-right align-middle">新密码</td>
            <td>
                <input type="password" id="Password" class="input-sm" />
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle">确认密码</td>
            <td>
                <input type="password" id="RePassword" class="input-sm" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-sm btn-success" onclick="btnSaveClick(this);">保 存<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
            </td>
        </tr>
    </table>
</form>