@model GameResultInfo
<table class="table resulttable">
    <tr data-row="0">
        <td>
            庄家
        </td>
        <td>
            <span class="result0"></span>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="1">0点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="2">1点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="3">2点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="4">3点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="5">4点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="6">5点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="7">6点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="8">7点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="9">8点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="10">9点</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="11">三公</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,0)" data-value="12">三三</button>
        </td>
    </tr>
    <tr data-row="1">
        <td>
            一号位
        </td>
        <td>
            <span class="result1"></span>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,1)" data-value="13">赢</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,1)" data-value="14">输</button>
        </td>
    </tr>
    <tr data-row="2">
        <td>
            二号位
        </td>
        <td>
            <span class="result2"></span>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,2)" data-value="13">赢</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,2)" data-value="14">输</button>
        </td>
    </tr>
    <tr data-row="3">
        <td>
            三号位
        </td>
        <td>
            <span class="result3"></span>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,3)" data-value="13">赢</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,3)" data-value="14">输</button>
        </td>
    </tr>
    <tr data-row="4">
        <td>
            四号位
        </td>
        <td>
            <span class="result4"></span>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,4)" data-value="13">赢</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,4)" data-value="14">输</button>
        </td>
    </tr>
    <tr data-row="5">
        <td>
            五号位
        </td>
        <td>
            <span class="result5"></span>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,5)" data-value="13">赢</button>
        </td>
        <td>
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,5,5)" data-value="14">输</button>
        </td>
    </tr>
</table>