@model GameResultInfo
<table class="table resulttable">
    <tr>
        <td class="text-left">
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,1)" data-value="1">庄</button>
        </td>
        <td class="text-center">
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,1)" data-value="3">和</button>
        </td>
        <td class="text-right">
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,1)" data-value="2">闲</button>
        </td>
    </tr>
    <tr>
        <td class="text-left">
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,1)" data-value="4">庄对</button>
        </td>
        <td class="text-center">
            <img id="imgResult" src="@string.Format("/Assets/images/gameresult/baccarat/{0}.png", Model.Result)" />
        </td>
        <td class="text-right">
            <button class="btn-lg btn-primary" type="button" onclick="changeResult(this,1)" data-value="5">闲对</button>
        </td>
    </tr>
</table>
