@section HeaderContent{
    @Scripts.Render("~/Views/Home/UpdatePassword.cshtml.js?v=" + StringUtil.Version)
}
<div class="row-fluid bigger-320">
    <h2 class="bigger">修改密码</h2>
</div>

<div class="no-margin">
    <table class="table">
        <tr>
            <td class="text-right align-middle" style="width:140px;">原始密码</td>
            <td>
                <input type="password" id="OldPassword" class="input-sm" />
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle">新密码</td>
            <td>
                <input type="password" id="NewPassword" class="input-sm" />
            </td>
        </tr>
        <tr>
            <td class="text-right align-middle">确认密码</td>
            <td>
                <input type="password" id="RePassword" class="input-sm" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" class="btn btn-sm btn-success" onclick="btnSaveClick(this);">保 存<i class="icon-arrow-right icon-on-right bigger-110"></i></button>
            </td>
        </tr>
    </table>
</div>
