@{
    Layout = "~/Views/Shared/_Dialog.AutoScroll.cshtml";
}
@model ExceptionLogInfo
<table class="table top-noborder">
    <tr>
        <td>
            @Model.StackTrace
        </td>
    </tr>
</table>